.contact-wrapper {
    width: 615px;
    position: relative;
    transform: translate3d(-32%, 0, 0);
}

/*.contact-details {
    position: absolute;
    left: 40px;
    top: 40px;
}*/

h1 {
    margin-top: 20px;
    font-size: 14px;
}

p {
    font-size: 14px;
    font-family: inherit;
    color: #444;
}

p a {
    text-decoration: underline;
    font-weight: bold;
    color: #444;
}

p a:hover {
    color: #b72175;
}

svg {
    height: 32px;
    width: 32px;
    pointer-events: all;
}

.icon {
    height: 28px;
    width: 28px;
}

.icon-facebook *,
.icon-linkedin *,
.icon-instagram * {
    transition: fill 200ms ease-in-out;
}

.icon-instagram {
    height: 26px;
    width: 26px;
}

.icon-facebook:hover .facebook-bg {
    /*fill: #3C5A99; <- Original FB blue*/
    fill: #b72175;
}

.icon-facebook:hover .facebook-f {
    fill: #fff;
}

.icon-linkedin:hover .linkedin-bg {
    /*fill: #0083be; <- original linkedin blue*/
    fill: #b72175;
}

.icon-linkedin:hover .linkedin-text {
    fill: #fff;
}

.icon-instagram:hover .instagram-bg {
    /*fill: url(#ig-grad); <- instagram gradient (defined inside svg)*/
    fill: #b72175;
}