<form [formGroup]="contactForm" (submit)="onSubmit()" novalidate>
  <div class="form-group">
    <div class="form-control form-control-name">
      <!--<label for="name">Name</label>-->
      <input formControlName="name" placeholder="Name" required>
    </div>
    <div class="form-control form-control-email">
      <!--<label for="email">Email</label>-->
      <input formControlName="email" placeholder="Email" required>
    </div>
    <div class="form-control form-control-subject">
      <label for="subject">Subject</label>
      <input formControlName="subject" placeholder="Subject">
    </div>
    <div class="form-control form-control-message">
      <!--<label for="message">Message</label>-->
      <textarea formControlName="message" placeholder="Message" required></textarea>
    </div>

    <div class="g-recaptcha" data-sitekey="6LeAzSEUAAAAAAsTKcOrE1lUIwMFMrG5IBoIRFsO"></div>
    
    <div>
      <button class="btn-submit">Submit</button>
    </div>
  </div>
</form>
<div class="message-preview">
  <div *ngIf="contactForm.get('subject').value != null">
    <h3>{{ contactForm.get('subject').value }}</h3>
  </div>
  <div *ngIf="contactForm.get('message').value != null">
  <p>{{contactForm.get('message').value}}</p>
  </div>
  <div *ngIf="contactForm.get('name').value != null">
  <p><strong>{{contactForm.get('name').value}}</strong></p>
  </div>
  <div *ngIf="contactForm.get('email').value != null">
  <p>{{contactForm.get('email').value}}</p>
  </div>
</div>