<form [formGroup]="contactForm" novalidate>
  <div class="form-group">
    <div class="contact-form contact-form-name">
      <label for="name">Name</label>
      <input formControlName="name">
    </div>
    <div class="contact-form contact-form-email">
      <label for="email">Email</label>
      <input formControlName="email">
    </div>
    <div class="contact-form contact-form-subject">
      <label for="subject">Subject</label>
      <input formControlName="subject">
    </div>
    <div class="contact-form contact-form-message">
      <label for="message">Message</label>
      <textarea formControlName="message"></textarea>
    </div>    
    <div>
      <button>Submit</button>
    </div>
  </div>
</form>
<div class="message-preview">
  <div *ngIf="contactForm.get('subject').value != null">
    <h3>{{ contactForm.get('subject').value }}</h3>
  </div>
  <div *ngIf="contactForm.get('message').value != null">
  <p>{{contactForm.get('message').value}}</p>
  </div>
  <div *ngIf="contactForm.get('name').value != null">
  <p><strong>{{contactForm.get('name').value}}</strong></p>
  </div>
  <div *ngIf="contactForm.get('email').value != null">
  <p>{{contactForm.get('email').value}}</p>
  </div>
</div>