.btn{
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 0;
  box-shadow: none;
  border-radius: none;
  border: 1px solid black;
  cursor: pointer;
}

.btn-scroll {
    display: inline-block;
    width: 2.5%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #777;
    line-height: center;
}

.close-icon {
  display: block;
  position: absolute;
  top: 45.83333333%;
  left: 18.75%;
  right: 18.75%;
  height: 8.33333333%;
  background: #eee;
  transform: rotate(45deg);
}

.close-icon::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
  transform: rotate(90deg);
  content: "";
}

.btn-close:hover .close-icon,
.btn-close:hover .close-icon::after {
  background-color: #b72175;
}

.close-icon:focus {
  outline: none;
}

.btn-close {
    position: absolute;
    top: 5px;
    right: 25px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    z-index: 112;
}

.btn-download {
    background-color: transparent;
    color: #eee;
    border: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: background-color 200ms, color 200ms;
    -moz-transition:  background-color 200ms, color 200ms;
    -o-transition: background-color 200ms, color 200ms;
    -webkit-transition: background-color 200ms, color 200ms;
    width: 170px;
    height: 30px;
}

.btn-download:hover {
    color: #b72175;
}


.btn-more {
    position: absolute;
    top: -40px;
    right: -18px;
    width: 130px;
    height: 25px;
    margin-top: 0;
    padding: 0;
    background-color: #282625;
    line-height: center;
    border: none;
    border-radius: 8px;
    color: #eee;
    z-index: 111;
    font-size: 16px;
}

.btn-more:hover {
  color: #b72175;
}