html {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    font-family: 'Helvetica Neue', Helvetica, 'Open Sans', sans-serif, Arial;
    font-weight: 300;
    font-size: 12px;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

header {
    height: 120px;
    z-index: 2;
    margin: 0;
    padding: 0;
}

header h1 {
    text-indent: -9999px;
    margin: 0;
    padding: 0;
}

header h1 a {
    display: block;
    width: 250px;
    height: 36px;
    float: left;
    margin-top: 60px;
    background: url("./../img/ec-image.png") no-repeat;
}

::-webkit-scrollbar {
    display: none;
}

.noscroll {
    overflow: hidden;
}

.content {
    max-width: 990px;
    margin: 0 auto;
    padding: 0;
}

.menu {
    width: 200px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    float: left;
    margin-top: 30px;
}


.menu-item {
    width: 100%;
    color: #444;
    display: block;
    list-style: inherit;
    margin-bottom: 20px;
}

.menu-item a {
    cursor: pointer;
    color: #444;
    text-decoration: underline;
    list-style: inherit;
    font-size: 24px;
    font-weight: 300;
}

.menu-item a:hover {
    color: #b72175;
}

.active {
    color: #b72175;
}

footer {
    position: absolute;
    bottom: 10px;
    right: 40px;
}