@import url('../../../assets/css/lightbox.css');
@import url('../../../assets/css/buttons.css');

.staff {
    margin: 0;
    padding: 0 0 0 15px;
    width: 56%;
    overflow-y: auto;
    display: inline-block;
}

.staff li {
    float: left;
    width: 29%;
    height: 90%;
    margin: 3% 2%;
    padding: 0;
    background-color: #eee;
    list-style: none;
}

.staff li img {
    margin: 0 auto;
    width: 100%;
}

.staff li p {
    width: 100%;
    padding: 5% 1%;
    margin: 0;
    font-size: 0.9em;
}

.interns {
    float: left;
    width: 20%;
    overflow-y: auto;
}

.interns li {
    list-style: none;
}

.interns li p {
    width: 100%;
    padding: 2%;
    margin: 0;
    margin-left: -25%;
}

.interns li p,
.staff-member {
    cursor: pointer;
}

.interns li p:hover,
.staff-member:hover {
    color: #b72175;
}

