
<a routerLink="/"><img src="assets/ec-image.png"></a>
  <nav class="menu">
    <a class="menu-item" routerLink="works/categories" routerLinkActive="active">works</a>
    <a class="menu-item" routerLink="publications/categories" routerLinkActive="active">publications</a>
    <a class="menu-item" routerLink="press" routerLinkActive="active">press</a>
    <a class="menu-item" routerLink="staff" routerLinkActive="active">staff</a>
    <a class="menu-item" routerLink="contact" routerLinkActive="active">contact</a>
    <a class="menu-item" routerLink="/" routerLinkActive="active">home</a>
  </nav>
<router-outlet></router-outlet>

