@import url("../assets/css/buttons.css");

.background {
    position: fixed;
    top: 15%;
    left: 0;
    height: 75vh;
    width: 100vw;
    z-index: -99;
    margin: 0 auto;
    overflow: hidden;
}

.background-image {
    /*transform: scale(1.4);*/
    z-index: -100;
    -o-animation: bg-move 15s ease-out;
    -moz-animation: bg-move 15s ease-out;
    -webkit-animation: bg-move 15s ease-in;
    animation: bg-move 30s ease-out;
    transform-origin: 800px 800px;
}

