
<h1>{{title}}</h1>
  <nav>
    <a routerLink="works" routerLinkActive="active" (click)="getWorkCategories()">works</a>
    <a routerLink="publications" routerLinkActive="active" (click)="getPublicationCategories()">publications</a>
    <a routerLink="press" routerLinkActive="active">press</a>
    <a routerLink="staff" routerLinkActive="active">staff</a>
    <a routerLink="contact" routerLinkActive="active">contact</a>
    <a routerLink="/" routerLinkActive="active">home</a>
  </nav>
<router-outlet></router-outlet>
