<nav class="menu nav-menu">
    <a class="menu-item nav-menu-item" routerLink="works/categories" routerLinkActive="active">works</a>
    <a class="menu-item nav-menu-item" routerLink="publications/categories" routerLinkActive="active">publications</a>
    <a class="menu-item nav-menu-item" routerLink="press" routerLinkActive="active">press</a>
    <a class="menu-item nav-menu-item" routerLink="staff" routerLinkActive="active">staff</a>
    <a class="menu-item nav-menu-item" routerLink="contact" routerLinkActive="active">contact</a>
    <a class="menu-item nav-menu-item" routerLink="/" routerLinkActive="active">home</a>
</nav>
<router-outlet></router-outlet>
