<div [@flySecondIn]="selectionState" [@flySecondRight]="selectionState" class="categories menu">
  <ul class="category menu-item"
  *ngFor="let category of categories"
  (click)="onSelect(category)"
  (mouseenter)="onHover(category)"
  (mouseleave)="offHover()">
    <li>{{category.name}}</li>
  </ul>
</div>

<div [@deOpacify]="hoverState" class="category-description">
  <p *ngIf="hoveredCategory && selectionState === 'noSelection'">{{hoveredCategory.description}}</p>
</div>


<router-outlet></router-outlet>
