<div  [@flySecondIn]="selectionState" [@flySecondRight]="selectionState" class="categories menu">
  <div class="category menu-item"
  *ngFor="let category of categories"
  (click)="onSelect(category)"
  (mouseenter)="onHover(category)"
  (mouseleave)="offHover()">
    <a>{{category.name}}</a>
  </div>
</div>

<div [@deOpacify]="hoverState" class="category-description">
  <p *ngIf="hoveredCategory && selectionState === 'noSelection'">{{hoveredCategory.description}}</p>
</div>


<router-outlet></router-outlet>
