@import url("../../assets/css/buttons.css");

:host {
    width: 100%;
}

.background {
    position: fixed;
    top: 150px;
    left: 0;
    height: 90vh;
    width: 100vw;
    z-index: -99;
    margin: 0 auto;
    overflow: hidden;
}

.background-image {
    z-index: 100;
    -o-animation: bg-move 30s linear;
    -moz-animation: bg-move 30s linear;
    -webkit-animation: bg-move 30s linear;
    animation: bg-move 30s linear;
    transform-origin: 1000px 1200px;
    background-size: cover;
    height: 150%;
}

@-webkit-keyframes bg-move {
	0%   { background-position:  0 0; }
	100% { background-position: -5% -5%; transform: scale(1.2); }
}

@-moz-keyframes bg-move {
	0%   { background-position:  0 0; }
	100% { background-position: -5% -5%; transform: scale(1.2); }
}

@keyframes bg-move {
	0%   { background-position:  0 0; }
	100% { background-position: -5% -5%; transform: scale(1.2); }
}