<div class="works"  [@flyThirdIn]="in">
  <div class="work" *ngFor="let work of works" (click)="onSelect(work)">
    <img src="{{work.cover.image}}">
    <p><strong>Project: </strong>{{work.title}}</p>
    <p><strong>Program: </strong>{{work.program}}</p>
    <p><strong>Status: </strong>{{work.status}}</p>
    <p><strong>Team: </strong>{{work.team}}</p>
  </div>
</div>
<div class="lightbox-outer s-work" *ngIf="selectedWork">
  <div class="lightbox-inner" (keydown)="escape($event)">
    <!--<button (click)="nextItem()">Next</button>-->
    <!--<button (click)="prevItem()">Previous</button>-->
    <h2 class="lightbox-title">{{selectedWork.title}}</h2>
    <button class="btn-close btn" (click)="deSelect()">
      <span class="close-icon"></span>
    </button>

    <div class="stage">
      <button class="btn-scroll prev-pic" (click)="prevPic()" (keydown)="scroll($event)">
        <span class="chevron left-chevron"></span>
      </button>
      <div class="slide stage-left">
        <img class="lightbox-image" src="{{stageLeft.image}}">
        <div class="lightbox-caption">{{stageLeft.caption}}</div>
      </div>
      <div class="slide stage-center">
        <img class="lightbox-image" src="{{stageCenter.image}}">
        <div class="lightbox-caption">{{stageCenter.caption}}</div>
      </div>
      <div class="slide stage-right">
        <img class="lightbox-image" src="{{stageRight.image}}">
        <div class="lightbox-caption">{{stageRight.caption}}</div>
      </div>
      <button class="btn-scroll next-pic" (click)="nextPic()" (keydown)="scroll($event)">
        <span class="chevron right-chevron"></span>
      </button>
    </div>
  </div>
</div>