@import url('../../../assets/css/lightbox.css');
@import url('../../../assets/css/buttons.css');

.works {
    width: 48%;
    height: 80vh;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    float: right;
    overflow-y: auto;
    overflow-x: hidden;
}

.work {
    position: relative;
    height: 325px;
    width: 90%;
    margin: 2% auto;
    padding: 0;
    float: none;
    clear: both;
}

p {
    margin: 2px 0;
    width: 100%;
}

.work .image {
    position: relative;
    margin: 0 auto;
    width: 391.111111111px;
    height: 220px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.work .caption {
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0 5px 5px;
    clear: both;
    display: block;
}

