<div class="works"  [@flyThirdIn]="categorySwitched">
  <div class="work" *ngFor="let work of works" (click)="onSelect(work)">
    <div class="caption">
      <p>{{work.published_date|date:'y'}}</p>
      <p>{{work.title}}</p>
      <p>{{work.program}}</p>
      <!--<p><strong>Program: </strong>{{work.program}}</p>
      <p><strong>Status: </strong>{{work.status}}</p>
      <p><strong>Team: </strong>{{work.team}}</p>-->
    </div>
    <div class="image" [style.backgroundImage]="getBackground(work.cover.image)"></div>
  </div>
</div>
<div class="lightbox-outer s-work" *ngIf="selectedWork">
  <div class="lightbox-inner" (keydown)="escape($event)">
    <!--<button (click)="nextItem()">Next</button>-->
    <!--<button (click)="prevItem()">Previous</button>-->
    <div class="lighbox-header">
      <h2 class="lightbox-title">{{selectedWork.title}}</h2>
      <button class="btn-close btn" (click)="deSelect()">
        <span class="close-icon"></span>
      </button>
    </div>
    <div class="container" [@shrinkContainer]="detailState">
      <button class="btn-more" 
      (click)="toggleDetails()">
        {{ showDetails ? 'Hide details' : 'Show details' }}
      </button>
      <div class="stage">
        <button class="btn-scroll prev-pic" (click)="prevPic()" (keydown)="scroll($event)">
          <span class="chevron left-chevron"></span>
        </button>
          <div 
          [@fade]="fadeState" 
          #cImgDiv 
          class="stage-center image" 
          [style.backgroundImage]="getBackground(stageCenter.image)"></div>
        <button class="btn-scroll next-pic" (click)="nextPic()" (keydown)="scroll($event)">
          <span class="chevron right-chevron"></span>
        </button>
      </div>
      <div 
        class="caption">
        {{stageCenter.caption}}
      </div>
    </div>
    <div  class="details" *ngIf="showDetails">
        <h3 [@showDeets]="detailState">{{selectedWork.title}}</h3>
        <p [@showDeets]="detailState">{{selectedWork.description}}</p>
        <h4>Team:</h4>
        <p>{{selectedWork.team}}</p>
        <a href="{{selectedWork.document}}" target="_blank" download>
          <button>
            Download
          </button>
        </a>
    </div>
  </div>
</div>